.alpha {
    background: rgb(25,138,23);
    background: linear-gradient(90deg, rgba(25,138,23,1) 23%, rgba(144,232,134,1) 67%, rgba(254,255,255,1) 100%);
}

* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
}

button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}